[user]
    name = Haley Clark
    email = gmail.com@hdeanclark
[core]
    editor = vim
[annex]
    # Rely on system-wide ssh caching. Otherwise git-annex asks for a password every connection.
    sshcaching = false
[pull]
    rebase = false
