[Unit]
Description=AutoSSH service for reverse tunnel to remote machine
ConditionPathExists=|/usr/bin
After=network.target

[Service]
#Environment="AUTOSSH_GATETIME=0"
#Type=simple
User=hal
Group=users
# trip:
ExecStart=/usr/bin/autossh -M 2123 -g -N -X -R 2122:localhost:22 -o TCPKeepAlive=yes -o ExitOnForwardFailure=yes -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" root@redacted -i /home/hal/.ssh/id_rsa
## bowax:
#ExecStart=/usr/bin/autossh -M 2323 -g -N -X -R 2322:localhost:22 -o TCPKeepAlive=yes -o ExitOnForwardFailure=yes -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" root@redacted -i /home/hal/.ssh/id_rsa
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target

