[Unit]
Description=Custom status bar for dwm.
ConditionPathExists=|/usr/bin
After=network.target

[Service]
Environment="DISPLAY=:0"
User=hal
Group=users
ExecStart=/usr/bin/updatestatusbar
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target

